# Ignore pipeline files
.git
.github

# Ignore production vercel files
.vercel

# Ignore vscode files
.vscode

# Ignore distributable and npm packages
dist
node_modules

# Ignore artifacts:
coverage
build

# Ignore all HTML files:
**/*.html